<div class="hd posts">
    <div class="post-title">
        <p>
            <%= page.title %>
        </p>
        <hr>
    </div>
    <div class="post-content">
        <%- page.content %>
    </div>

    <% if (theme.valine.enable && page.comments) { %>
        <hr class="fhr">
        <div id="vcomments"></div>
    <% } else if (theme.gitalk.enable && page.comments) { %>
        <div id="gitalk-container"></div>
        <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
        <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
        <script type="text/javascript">
            const gitalk = new Gitalk({
                clientID: "<%= theme.gitalk.client_id %>",
                clientSecret: "<%= theme.gitalk.client_secret %>",
                repo: "<%= theme.gitalk.repo %>",      // The repository of store comments,
                owner: "<%= theme.gitalk.owner %>",
                admin: ["<%= theme.gitalk.admin %>"],
                id: location.pathname,      // Ensure uniqueness and length less than 50
                distractionFreeMode: false  // Facebook-like distraction free mode
            })

            gitalk.render('gitalk-container')
        </script>
    <% } %>
</div>